.navbar { 
    display: flex !important; 
    align-items: center;
    justify-content: space-between;
    height: 66px;
    padding: 8px 0px;
    z-index: 9999 ;
    &__link {
        display: block; 
        color: #000;
        text-decoration: none !important;
        padding-right: 12px;
        font-size: 13px;
        &:hover{
            color: #ad0000;
        }
        &-toggle {
            display: none;
        }
        &-brand {
            display: flex;
            align-items: center;
            padding: 5px 15px;
        
            font-size: 30px; 
            text-decoration: none;
            &:visited {
                color: black;
            }
        }
    }
    &__items { 
        display: flex; 
        align-items: center; 
    }
    &__logo {
        width: 75px; 
        height:40px;
        z-index: 999;
    }
    &__company-name {
        display: inline-block;
        font-size: 32px;
        font-weight: bold;
        margin-left: 10px;
        line-height: 26px;
        color: #000;
    }
    &__menu-btn {
        width: 20px;
    }
    &__number {
        text-decoration: none;
        color: #000;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__phone {
        display: flex;
        padding: 0px 10px 0px 60px;
    }
}
.phone {
    width: 20px;
    height: 20px;
}
