@-webkit-keyframes spin {
    0% {-webkit-transform:rotate(0deg) scale(1) skew(1deg);
        transform:rotate(0deg) scale(1) skew(1deg)}
    10% {-webkit-transform:rotate(-25deg) scale(1) skew(1deg);
        transform:rotate(-25deg) scale(1) skew(1deg)}
    20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);
        transform:rotate(25deg) scale(1) skew(1deg)}
    30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);
        transform:rotate(-25deg) scale(1) skew(1deg)}
    40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);
        transform:rotate(25deg) scale(1) skew(1deg)}
    50%,100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);
        transform:rotate(0deg) scale(1) skew(1deg)}}
        
@keyframes spin {
    0%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);
        transform:rotate(0deg) scale(1) skew(1deg)}
        10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);
            transform:rotate(-25deg) scale(1) skew(1deg)}
            20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);
                transform:rotate(25deg) scale(1) skew(1deg)}
                30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);
                    transform:rotate(-25deg) scale(1) skew(1deg)}
                40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);
                    transform:rotate(25deg) scale(1) skew(1deg)}50%,
                    100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);
                        transform:rotate(0deg) scale(1) skew(1deg)}}
