@import 'blocks/blocks';
$tablet-width: 1025px;


.body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

.container {   
    width: 100%;
    max-width: 1140px;
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box; 
} 

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.calculate__header, .buisness-process__header, .our-client__header, .footer-form__header {
    &::after {
        content: '';
        display: block;
        position: absolute;
        margin-top: 12px;
        width: 74px;
        height: 2px;
        background: #f8002f;
        left: 50%;
        margin-left: -37px;
    }
}

.location{
    &__flexWrapper{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.underLine{
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 465px;
    background: #E7E7E7;
    height: 1px;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-300 {
    font-weight: 300;
}


@media only screen and  (max-width: #{$tablet-width - 1px}) {
    .navbar, .navbar__items {
        display: flex !important;
    }
    .navbar{
        justify-content: space-between;
        flex-wrap: wrap;
        &__items {
           &_off {
            height: 1px;
            width: 100%;
            opacity: 0;
           }
           &_on {
            width: 100%;
            min-height: 90vh;
            padding-top: 80px;
            background-color: #fff;
            z-index: 9999 !important;
            opacity: 1 !important;
           }
           flex-direction: column;
           align-items: center;
           justify-content: center;
           z-index: 9999 !important;
           
           background-color: #fff;
           opacity: 1 !important;
        }
        &__link {
            padding-bottom: 18px;
            font-size: 18px !important;
            &-toggle {
                display: initial;
                padding: 5px 10px;
                cursor: pointer;
            }       
        }
        &__phone {
            display: flex ;
            justify-content: center;
            padding-top: 60px;
            padding-left: 0px;
            font-size: 14px !important;
            font-weight: 700;
        }
    }
    .slide {
        z-index: 20;
    }
    .calculate {
        justify-content: center;
    }
    .about-us {
        max-width: 700px;
        margin: 0 auto;
        padding-left:  15px;
        padding-right: 15px;
    }
    .container {
        max-width: 960px;
    }
    .callback {
        &__header {
            font-size: 22px !important;
        }
        &__number {
            font-size: 22px !important;         
        }  
        &__btn {
            font-size: 11px !important;
            border: 2px solid white;
        }
    }
    .footer-form {
        max-width: 100%;
        flex-wrap: wrap;
        &__input-name {
            width: 100% !important;
            margin-bottom: 20px;
        }
        &__input-mail {
            width: 100% !important;
        }
    }
    .footer {
        height: 150px;
        &-container {
            padding-top: 10px;
            flex-wrap: wrap;
        }
    }
    .calculate__header, .buisness-process__header, .about-us__header, .our-client__header, .footer-form__header {
        font-size: 24px;
    }

    .location{
        &__flexWrapper{
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        &__description{
            width: auto;
        }
        &__map{
            margin-top: 30px;
            width: 100%;
        }
    }
    .underLine {
        width: 290px;
    }
}

@media only screen and  (max-width: 769px) {
    .footer-container {
        justify-content: center;
    }
    navbar__link-brand{
        width: 190px;
    }
}